/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: auto;
    left: 0;
    right: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.navbar {
    margin: 0 auto;
    max-width: 50em;
    min-width: 10em;
    left: 0;
    top: 0;
    right: 0;
    height: 3.5em;
    background-color: #eeeeee;
    position: fixed;
    border-bottom: .25em solid #ffffff;
}
.navTitle {
    float: inherit;
    margin: auto;
    padding: 1.25em 0em;
    width: 7em;
    text-align: center;
    font-family: Ebrima;
    font-size: 1em;
}
.navbar img {
    padding: 1em;
    width: 1.5em;
    height: 1.5em;
    float: left;
}
.myProfileImageIcon {
    position: relative;
    bottom: 3.5em;
    float: right;
}
.post-setter {
    margin: auto;
    max-width: 50em;
    min-width: 10em;
    margin: 3.72em auto  0 auto;
}
.item-setter {
    margin: auto;
    max-width: 50em;
    min-width: 10em;
    margin: 3.72em auto  0 auto;
}
.posts-item {
    padding: 2.5em;
    height: auto;
    max-width:50em;
    min-width: 10em;
    background-color: #eeeeee;
    font-family: Ebrima;
    margin-top: .25em;
}
.item-post {
    padding: 2.5em;
    height: auto;
    max-width:50em;
    min-width: 3em;
    background-color: #eeeeee;
    font-family: Ebrima;
    margin-top: .25em;
}
#post-title {
    font-weight: 600;
    float: left;
    text-decoration: none;
    color: black;
    font-family: Ebrima;
}
.item-title {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    padding: 0;
    display: inline-block;
}
#post-creator {
    line-height: 1.5;
    font-size: .75em;
    float: left;
    margin: 0em .5em;
}
#post-content {
    font-size: .75em;
    margin: 2.25em 0 0 0;
}
.navMenuContainer {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    max-width: 50em;
    min-width: 10em;
    height: 100%;
    position: fixed;
    z-index:1 ;
}
.navMenu {
    padding: 2em 2em 2em 2em;
    position: relative;
    margin: 0;
    height: 100%;
    width: 10em;
    background: black;
    color: white;
    overflow-y: auto;
    float: left;
}
.navProfile {
    padding: 2em 2em 2em 2em;
    position: relative;
    margin: 0;
    float: right;
    height: 100%;
    width: 10em;
    background: black;
    color: white;
}
.navProfile p {
    text-align: center;
    font-family: Ebrima;
}
.navMenu li{
    padding: .5em;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    font-family: Ebrima;
}
.navMenu a {
    text-decoration: none;
    color: white
}
.main {
    position: relative;
}
.divider {
    background-color: white;
    height: .1em;
    right: 0;
    left: 0;
    float: none;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.myProfileName{
    padding-bottom: 1em;
    color: #aaa
}
.myProfileImage {
    margin: auto;
    height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 360px;
    overflow: hidden;
    border: 2px solid white;
}
.myProfileImage img {
    margin: auto;
    left: 0; right: 0;
    float: left;
    overflow: hidden;
    height: 10em;
    width: auto;
    background-color: white;
    border-radius: 360px;
}
.myAccountName {
    padding-top: 1em;
    text-align: center;
    font-family: Ebrima;
}
.accountMenu div{
    padding: .5em 0 .5em 0;
    font-family: Ebrima;
}
.accountMenu div a {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.navProfile input {
    width: 11.75em;
    height: 2em;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: .5em;
    font-family: Ebrima;
}
.navProfile button{
    margin-top: .75em;
    background-color: black;
    color: white;
    font-family: Ebrima;
    border: 2px solid white;
    border-radius: 3px;
    width: 11.75em;
    height: 2.5em;
}
.navProfile a div {
    width: 100%;
    padding: .5em 0;
}
.navProfile a {
    font-size: .8em;
    margin-top: .75em;
    text-decoration: none;
    color: white;
    font-family: Ebrima;
}
#item-image {
    margin: auto auto;;
    left: 0;
    right: 0;
    height: 6em;
    display: block;}

#item-link {
   height: 100%;
    width: 100%;
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}
.item-title-setter {
    font-weight: 1000;
    margin: -6em 7em ;
    max-width: 30em;
    min-width: 3em;
    float: left;
    display: inline-block;}

.item-image-setter {
    display: flex;
    height: 6em;
    width: 6em;
    overflow: hidden;
    background-color: white;
}
.item-content-descript{
    height: 4.5em;
    max-width: 20em;
    min-width: 3em;
    margin: -4.5em 2em 0em 7em ;
    float: left;
    word-spacing: inherit;
    overflow:hidden;
}
.item-content-descript p{
    word-break: break-all;
    font-size: .75em;
    word-wrap: break-word;
}
